<h1>Create new post</h1>

<%= form_with url: user_posts_path, scope: :post do |f| %>
  <div>
    <%= f.text_field :title, placeholder:"Title" %>
  </div>
  <div>
    <%= f.text_area :text, placeholder:"Write something here" %>
  </div>
  <%= f.submit "Post" %>
<%end%>