* {
  margin: 0;
  padding: 0;
}

section {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 5rem auto;
  gap: 1rem;
}

.user_wrapper {
  display: flex;
  justify-content: center;
  gap: 4rem;
}

.user_info {
  border: 2px solid black;
  display: flex;
  padding: 1rem 3rem;
  justify-content: space-between;
  align-items: center;
  width: 25%;
  height: 5rem;
}

.user_info span {
  align-self: flex-end;
}

.user_wrapper .post_number {
  border: 2px solid black;
  width: 7rem;
  display: flex;
}

.user_wrapper .post_number a {
  margin: auto;
}
